// General styles
@mixin app-font {
    margin-bottom: 0;
    font-family: 'Bungee Outline', cursive;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

@mixin glow-box {
    padding: 2px;
    border-radius: 10px;
    box-shadow:
        0 0 7px $white,
        0 0 10px $white;
}

// Colors
// TODO: Implement themes in future
// ? Idea: Color changes when "Out" is clicked [✓]
$sub-color: orange; // Just the color of "Light"
$main-color: var(--main-color); // Color of "Out" and the lights

@mixin text-shadow($color) {
    text-shadow:
        0 0 42px $color,
        0 0 82px $color,
        0 0 92px $color,
        0 0 102px $color,
        0 0 151px $color;
}

$black: rgb(55 55 55);
$white: white;

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.app-h1 {
    @include app-font;
}

.app-orange {
    color: $sub-color;
    animation: flicker 1.5s infinite alternate;
}

.app-blue {
    color: $main-color;
    @include text-shadow($main-color);

    cursor: pointer;

    // Prevent text selection
    user-select: none; /* Standard syntax */
}

@keyframes flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        @include text-shadow($sub-color);
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

.board {
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    max-width: 90%;
    max-height: 70vh;
    overflow: auto;

    /* hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
    @include glow-box;
}

/* hide scrollbar for chrome, safari and opera */
.board::-webkit-scrollbar {
    display: none;
}

.board-word {
    color: $white;
    @include app-font;

    text-shadow:
        0 0 20px $white,
        0 0 30px $white,
        0 0 40px $white;
}

.board-load {
    margin: auto;
}

.cell {
    width: 25px;
    height: 25px;
    margin: 20px;
    border: none;
    border-radius: 50%;
}

.cell-on {
    background-color: $main-color;
    box-shadow:
        0 0 22px $main-color,
        0 0 42px $main-color;
}

.cell-off {
    background-color: $black;
}

.howto {
    // Box CSS
    @include glow-box;

    max-width: 90%;
    padding: 10px 20px;
    margin: auto;
    
    // Text CSS
    font-family: 'Bungee Hairline', cursive;
    color: $white;
    letter-spacing: -1px;
}