// General styles
$fontFamily: 'Bungee Outline', cursive;

// Colors
// TODO: Implement themes in future
// ? Idea: Color changes when "Out" is clicked
$subColor: orange;             // Just the color of "Light"
$mainColor: rgb(18, 231, 231); // Color of "Out" and the lights
@mixin textShadow($color) {
    text-shadow:
        0 0 42px $color,
        0 0 82px $color,
        0 0 92px $color,
        0 0 102px $color,
        0 0 151px $color;
}
$black: rgb(55, 55, 55);
$white: white;

// Game config
// TODO: React to change this according to state in future
$size: 10;

:export {
    size: $size
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App-h1 {
    font-family: $fontFamily;
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.App-orange {
    color: $subColor;
    animation: flicker 1.5s infinite alternate;
}

.App-blue {
    color: $mainColor;
    @include textShadow($mainColor);
}

@keyframes flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        @include textShadow($subColor);
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

.Board {
    max-width: 90%;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat($size, 1fr);
    border-radius: 10px;
    padding: 2px;

    box-shadow:
        0 0 7px $white,
        0 0 10px $white;

    overflow: auto;
    /* hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* hide scrollbar for chrome, safari and opera */
.Board::-webkit-scrollbar {
    display: none;
}

.Board-hasWon {
    color: $white;
    font-family: $fontFamily;
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 0;
    padding: 0 20px;

    text-shadow:
        0 0 20px $white,
        0 0 30px $white,
        0 0 40px $white;
}

.Cell {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    margin: 20px;
}

.Cell-on {
    background-color: $mainColor;
    box-shadow:
        0 0 22px $mainColor,
        0 0 42px $mainColor;
}

.Cell-off {
    background-color: $black;
}